/*--------------------------------------------------------------------------------*/
/*CONTAINER FOR ALL BUTTONS ON LEFT SIDE*/
/*--------------------------------------------------------------------------------*/

.wrap {
  justify-content: center;
  margin: auto 3vw auto 1vw;
  min-height: 81vh;
}

/*--------------------------------------------------------------------------------*/
/*BUTTON PLAY GAME*/
/*--------------------------------------------------------------------------------*/

.button {
  min-width: 160px;
  min-height: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 350px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}
/*Add Player Button*/

.btn-player {
  min-width: 100px;
  min-height: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  border: none;
  border-radius: 250px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

@keyframes ring {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

/*--------------------------------------------------------------------------------*/
/*BUTTON GAMEDIRECTION*/
/*--------------------------------------------------------------------------------*/


.carddirection {
  position: absolute;
  top: 34%;
  right: 2%;
  width: 57px;
  height: 57px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.directionclock {
  background-image: url("../Resources/Direction-a.jpg");
}

.directionanti 
{
  background-image: url("../Resources/Direction-b.jpg");
}

.rotateclock {
  animation: rotationclock 7s infinite linear;
}

.rotateanti {
  animation: rotationanti 7s infinite linear;
}

@keyframes rotationclock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationanti {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(1deg);
  }
}

/*--------------------------------------------------------------------------------*/
/*UNO BUTTON*/
/*--------------------------------------------------------------------------------*/
.unobutton{
  background-color: red;
  border-radius: 100%;
  color: white;
}

/*--------------------------------------------------------------------------------*/
/*HAMBURGER MENU*/
/*--------------------------------------------------------------------------------*/

.menu {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1.3px;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 15vh;
  left: 50px;
}
.menu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #ff0000;
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
/*this animates the appearance and dissappearence of each navigation item on hover. We could add more list items */
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}

.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
