/*--------------------------------------------------------------------------------*/
/*CONTAINER FOR ALL BUTTONS ON LEFT SIDE*/
/*--------------------------------------------------------------------------------*/

.wrap {
  align-items: center;
  justify-content: center;
  margin: auto 3vw auto 1vw;
}

/*--------------------------------------------------------------------------------*/
/*BUTTON PLAY GAME*/
/*--------------------------------------------------------------------------------*/

.button {
  min-width: 100px;
  min-height: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 350px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

/*--------------------------------------------------------------------------------*/
/*BUTTON GAMEDIRECTION*/
/*--------------------------------------------------------------------------------*/


.carddirection {
  position: absolute;
  top: 34%;
  right: 2%;
  width: 57px;
  height: 57px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.directionclock {
  background-image: url("../Resources/Direction-a.jpg");
}

.directionanti 
{
  background-image: url("../Resources/Direction-b.jpg");
}

.rotateclock {
  animation: rotationclock 7s infinite linear;
}

.rotateanti {
  animation: rotationanti 7s infinite linear;
}

@keyframes rotationclock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationanti {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(1deg);
  }
}

/*--------------------------------------------------------------------------------*/
/*UNO BUTTON*/
/*--------------------------------------------------------------------------------*/
.unobutton{
  background-color: red;
  border-radius: 100%;
  color: white;
}