/*--------------------------------------------------------------------------------*/
/*VARIABLES*/
/*--------------------------------------------------------------------------------*/
:root {
  --red: #ec524b;
  --orange: #f5b461;
  --yellow: #f3eac2;
  --turquoise: #9ad3bc;
  --darkturquoise: ##16697A;
  /*colorpalette: https://colorhunt.co/palette/220258 , https://colorhunt.co/palette/219688 */

  --cardheightStack: 15vw;
  --cardwidthStack: 10vw;

  --cardheightHand: 15vw;
  --cardwidthHand: 10vw;

}
/*--------------------------------------------------------------------------------*/
/*CARD PLAYING FIELD*/
/*--------------------------------------------------------------------------------*/

.cardplayingfield {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2vw;
  width: 75%;
  position: relative;
}


/*--------------------------------------------------------------------------------*/
/*CARD STACKS*/
/*--------------------------------------------------------------------------------*/

.topcard {
    background-repeat: no-repeat;
    max-height: var(--cardheightStack);
    max-width: var(--cardwidthStack);
    min-height: 135px;
    min-width: 90px;
    background-position: center;
    background-size: contain;
}

.cardstack {
  position: relative;
} 

.cardonstack {
  position: absolute;
  top: 0;
  left: -2rem;
  max-height: var(--cardheightStack);
  max-width: var(--cardwidthStack);
  min-height: 135px;
  min-width: 90px;
  background-image: url("../Resources/backside.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(13deg);
}

.card1 {
  left: -2rem;
  transform: rotate(6deg);
}

.card2 {
  left: -2.5rem;
  transform: rotate(-7deg);
}

.card3 {
  left: -1rem;
  transform: rotate(-2deg);
}

.card4 {
  left: -1.2rem;
  transform: rotate(-2deg);
}

.yellowshadow {  /* this is the of the cards*/
  border: 4px solid #f8cb02;
  border-radius: 13px;
  box-shadow: 0 0 48px #f8cb02;
}

.blueshadow {  /* this is the of the cards*/
  border: 4px solid #0095da;
  border-radius: 13px;
  box-shadow: 0 0 48px #0095da;
}

.redshadow {  /* this is the of the cards*/
  border: 4px solid #ed1c24;
  border-radius: 13px;
  box-shadow: 0 0 48px #ed1c24;
}

.greenshadow {  /* this is the of the cards*/
  border: 4px solid #00ab67;
  border-radius: 13px;
  box-shadow: 0 0 48px #00ab67;
}

/*this is the Animation if you grab a card from the stack*/
.bounce-out-bck{-webkit-animation:bounce-out-bck .7s both;animation:bounce-out-bck .7s both}

.puff-out-center{-webkit-animation:puff-out-center 1.5s cubic-bezier(.165,.84,.44,1.000) both;animation:puff-out-center 2s cubic-bezier(.165,.84,.44,1.000) both}

.roll-out-left{-webkit-animation:roll-out-left .8s cubic-bezier(.55,.055,.675,.19) both;animation:roll-out-left .8s cubic-bezier(.55,.055,.675,.19) both}
.roll-out-top{-webkit-animation:roll-out-top .6s ease-in both;animation:roll-out-top .6s ease-in both}
.roll-out-right{-webkit-animation:roll-out-right .6s ease-in both;animation:roll-out-right .6s ease-in both}
.roll-out-bottom{-webkit-animation:roll-out-bottom .6s ease-in both;animation:roll-out-bottom .6s ease-in both}

@-webkit-keyframes bounce-out-bck{0%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}5%{-webkit-transform:translateZ(-100px);transform:translateZ(-100px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}15%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}25%{-webkit-transform:translateZ(-110px);transform:translateZ(-110px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}38%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}52%{-webkit-transform:translateZ(-200px);transform:translateZ(-200px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}70%{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}85%{opacity:1}100%{-webkit-transform:translateZ(-900px) scale(0);transform:translateZ(-900px) scale(0);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}}@keyframes bounce-out-bck{0%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}5%{-webkit-transform:translateZ(-100px);transform:translateZ(-100px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}15%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}25%{-webkit-transform:translateZ(-110px);transform:translateZ(-110px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}38%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}52%{-webkit-transform:translateZ(-200px);transform:translateZ(-200px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}70%{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}85%{opacity:1}100%{-webkit-transform:translateZ(-900px) scale(0);transform:translateZ(-900px) scale(0);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}}
@-webkit-keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}@keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}
@-webkit-keyframes roll-out-left{0%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}100%{-webkit-transform:translateX(-1000px) rotate(-540deg);transform:translateX(-1000px) rotate(-540deg);opacity:0}}@keyframes roll-out-left{0%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}100%{-webkit-transform:translateX(-1000px) rotate(-540deg);transform:translateX(-1000px) rotate(-540deg);opacity:0}}
@-webkit-keyframes roll-out-top{0%{-webkit-transform:translateY(0) rotate(0deg);transform:translateY(0) rotate(0deg);opacity:1}100%{-webkit-transform:translateY(-800px) rotate(-540deg);transform:translateY(-800px) rotate(-540deg);opacity:0}}@keyframes roll-out-top{0%{-webkit-transform:translateY(0) rotate(0deg);transform:translateY(0) rotate(0deg);opacity:1}100%{-webkit-transform:translateY(-800px) rotate(-540deg);transform:translateY(-800px) rotate(-540deg);opacity:0}}
@-webkit-keyframes roll-out-right{0%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}100%{-webkit-transform:translateX(1000px) rotate(540deg);transform:translateX(1000px) rotate(540deg);opacity:0}}@keyframes roll-out-right{0%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}100%{-webkit-transform:translateX(1000px) rotate(540deg);transform:translateX(1000px) rotate(540deg);opacity:0}}
@-webkit-keyframes roll-out-bottom{0%{-webkit-transform:translateY(0) rotate(0deg);transform:translateY(0) rotate(0deg);opacity:1}100%{-webkit-transform:translateY(800px) rotate(540deg);transform:translateY(800px) rotate(540deg);opacity:0}}@keyframes roll-out-bottom{0%{-webkit-transform:translateY(0) rotate(0deg);transform:translateY(0) rotate(0deg);opacity:1}100%{-webkit-transform:translateY(800px) rotate(540deg);transform:translateY(800px) rotate(540deg);opacity:0}}

/*--------------------------------------------------------------------------------*/
/*PLAYER HAND*/
/*--------------------------------------------------------------------------------*/

.cards li {
  max-height: var(--cardheightHand);
  max-width: var(--cardwidthHand);
  min-height: 90px;
  min-width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  list-style: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

/*Shake wrong card*/
.shake-lr{-webkit-animation:shake-lr .7s cubic-bezier(.455,.03,.515,.955) both;animation:shake-lr .7s cubic-bezier(.455,.03,.515,.955) both}
@-webkit-keyframes shake-lr{0%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}10%{-webkit-transform:rotate(8deg);transform:rotate(8deg)}20%,40%,60%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}30%,50%,70%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}80%{-webkit-transform:rotate(-8deg);transform:rotate(-8deg)}90%{-webkit-transform:rotate(8deg);transform:rotate(8deg)}}@keyframes shake-lr{0%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}10%{-webkit-transform:rotate(8deg);transform:rotate(8deg)}20%,40%,60%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}30%,50%,70%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}80%{-webkit-transform:rotate(-8deg);transform:rotate(-8deg)}90%{-webkit-transform:rotate(8deg);transform:rotate(8deg)}}

/*Accept new card*/
.fade-in{
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both}
  @-webkit-keyframes fade-in {0% {opacity: 0;}100% {opacity: 1;}}@keyframes fade-in {0% {opacity: 0;}100% {opacity: 1;  }}

.tilt-in-fwd-tr {
    -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }

  /*Update top Card*/
  .roll-in-bottom{-webkit-animation:roll-in-bottom .8s ease-in-out both;animation:roll-in-bottom .8s ease-in-out both}
  .roll-in-top{-webkit-animation:roll-in-top .8s ease-in-out both;animation:roll-in-top .8s ease-in-out both}
  .roll-in-right{-webkit-animation:roll-in-right .8s ease-in-out both;animation:roll-in-right .8s ease-in-out both}
  .roll-in-left{-webkit-animation:roll-in-left .8s ease-in-out both;animation:roll-in-left .8s ease-in-out both}

  @-webkit-keyframes roll-in-bottom{0%{-webkit-transform:translateY(800px) rotate(540deg);transform:translateY(800px) rotate(540deg);opacity:0}100%{-webkit-transform:translateY(0) rotate(0deg);transform:translateY(0) rotate(0deg);opacity:1}}@keyframes roll-in-bottom{0%{-webkit-transform:translateY(800px) rotate(540deg);transform:translateY(800px) rotate(540deg);opacity:0}100%{-webkit-transform:translateY(0) rotate(0deg);transform:translateY(0) rotate(0deg);opacity:1}}
  @-webkit-keyframes roll-in-top{0%{-webkit-transform:translateY(-800px) rotate(-540deg);transform:translateY(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateY(0) rotate(0deg);transform:translateY(0) rotate(0deg);opacity:1}}@keyframes roll-in-top{0%{-webkit-transform:translateY(-800px) rotate(-540deg);transform:translateY(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateY(0) rotate(0deg);transform:translateY(0) rotate(0deg);opacity:1}}
  @-webkit-keyframes roll-in-right{0%{-webkit-transform:translateX(800px) rotate(540deg);transform:translateX(800px) rotate(540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}@keyframes roll-in-right{0%{-webkit-transform:translateX(800px) rotate(540deg);transform:translateX(800px) rotate(540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}
  @-webkit-keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}@keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}

  /*Update top Card version 2.0*/
  .tilt-in-top-2{-webkit-animation:tilt-in-top-2 .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-top-2 .6s cubic-bezier(.25,.46,.45,.94) both}
  .tilt-in-bottom-2{-webkit-animation:tilt-in-bottom-2 .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-bottom-2 .6s cubic-bezier(.25,.46,.45,.94) both}
  .tilt-in-right-2{-webkit-animation:tilt-in-right-2 .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-right-2 .6s cubic-bezier(.25,.46,.45,.94) both}
  .tilt-in-left-2{-webkit-animation:tilt-in-left-2 .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-left-2 .6s cubic-bezier(.25,.46,.45,.94) both}
  
  @-webkit-keyframes tilt-in-top-2{0%{-webkit-transform:rotateY(-30deg) translateY(-300px) skewY(30deg);transform:rotateY(-30deg) translateY(-300px) skewY(30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}@keyframes tilt-in-top-2{0%{-webkit-transform:rotateY(-30deg) translateY(-300px) skewY(30deg);transform:rotateY(-30deg) translateY(-300px) skewY(30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}
  @-webkit-keyframes tilt-in-bottom-2{0%{-webkit-transform:rotateY(-30deg) translateY(300px) skewY(30deg);transform:rotateY(-30deg) translateY(300px) skewY(30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}@keyframes tilt-in-bottom-2{0%{-webkit-transform:rotateY(-30deg) translateY(300px) skewY(30deg);transform:rotateY(-30deg) translateY(300px) skewY(30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}
  @-webkit-keyframes tilt-in-right-2{0%{-webkit-transform:rotateX(30deg) translateX(300px) skewX(-30deg);transform:rotateX(30deg) translateX(300px) skewX(-30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}@keyframes tilt-in-right-2{0%{-webkit-transform:rotateX(30deg) translateX(300px) skewX(-30deg);transform:rotateX(30deg) translateX(300px) skewX(-30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}
  @-webkit-keyframes tilt-in-left-2{0%{-webkit-transform:rotateX(30deg) translateX(-300px) skewX(30deg);transform:rotateX(30deg) translateX(-300px) skewX(30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}@keyframes tilt-in-left-2{0%{-webkit-transform:rotateX(30deg) translateX(-300px) skewX(30deg);transform:rotateX(30deg) translateX(-300px) skewX(30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}
  /*--------------------------------------------------------------------------------*/
/*PLAYER GAMEFIELD*/
/*--------------------------------------------------------------------------------*/

/*Styling for the current player*/
.activePlayer{
  background: #a6adaa;
  border-radius: 2vw;
}

/*--------------------------------------------------------------------------------*/
/*CARD IMAGES*/
/*--------------------------------------------------------------------------------*/

.cardshadow {  /* this is the of the cards*/
  border-radius: 13px;
  box-shadow: 0 0 10px #7a7a7a;
}

.backside {
  background-image: url(../Resources/backside.png);
}
.black13 {
  background-image: url(../Resources/Black13Draw4.png);
}

.black14 {
  background-image: url(../Resources/Black14ChangeColor.png);
}

.blue0 {
  background-image: url(../Resources/Blue0.png);
}

.blue1 {
  background-image: url(../Resources/Blue1.png);
}

.blue2 {
  background-image: url(../Resources/Blue2.png);
}

.blue3 {
  background-image: url(../Resources/Blue3.png);
}

.blue4 {
  background-image: url(../Resources/Blue4.png);
}

.blue5 {
  background-image: url(../Resources/Blue5.png);
}

.blue6 {
  background-image: url(../Resources/Blue6.png);
}

.blue7 {
  background-image: url(../Resources/Blue7.png);
}

.blue8 {
  background-image: url(../Resources/Blue8.png);
}

.blue9 {
  background-image: url(../Resources/Blue9.png);
}

.blue10 {
  background-image: url(../Resources/Blue10Draw2.png);
}

.blue11 {
  background-image: url(../Resources/Blue11Skip.png);
}

.blue12 {
  background-image: url(../Resources/Blue12Reverse.png);
}

.blue13 {
  background-image: url(../Resources/Blue13Draw4.png);
}

.red0 {
  background-image: url(../Resources/Red0.png);
}

.red1 {
  background-image: url(../Resources/Red1.png);
}

.red2 {
  background-image: url(../Resources/Red2.png);
}

.red3 {
  background-image: url(../Resources/Red3.png);
}

.red4 {
  background-image: url(../Resources/Red4.png);
}

.red5 {
  background-image: url(../Resources/Red5.png);
}

.red6 {
  background-image: url(../Resources/Red6.png);
}

.red7 {
  background-image: url(../Resources/Red7.png);
}

.red8 {
  background-image: url(../Resources/Red8.png);
}

.red9 {
  background-image: url(../Resources/Red9.png);
}

.red10 {
  background-image: url(../Resources/Red10Draw2.png);
}

.red11 {
  background-image: url(../Resources/Red11Skip.png);
}
.red12 {
  background-image: url(../Resources/Red12Reverse.png);
}

.red13 {
  background-image: url(../Resources/Red13Draw4.png);
}

.yellow0 {
  background-image: url(../Resources/Yellow0.png);
}

.yellow1 {
  background-image: url(../Resources/Yellow1.png);
}

.yellow2 {
  background-image: url(../Resources/Yellow2.png);
}

.yellow3 {
  background-image: url(../Resources/Yellow3.png);
}

.yellow4 {
  background-image: url(../Resources/Yellow4.png);
}

.yellow5 {
  background-image: url(../Resources/Yellow5.png);
}

.yellow6 {
  background-image: url(../Resources/Yellow6.png);
}

.yellow7 {
  background-image: url(../Resources/Yellow7.png);
}

.yellow8 {
  background-image: url(../Resources/Yellow8.png);
}

.yellow9 {
  background-image: url(../Resources/Yellow9.png);
}

.yellow10 {
  background-image: url(../Resources/Yellow10Draw2.png);
}

.yellow11 {
  background-image: url(../Resources/Yellow11Skip.png);
}
.yellow12 {
  background-image: url(../Resources/Yellow12Reverse.png);
}

.yellow13 {
  background-image: url(../Resources/Yellow13Draw4.png);
}

.green0 {
  background-image: url(../Resources/Green0.png);
}

.green1 {
  background-image: url(../Resources/Green1.png);
}

.green2 {
  background-image: url(../Resources/Green2.png);
}

.green3 {
  background-image: url(../Resources/Green3.png);
}

.green4 {
  background-image: url(../Resources/Green4.png);
}

.green5 {
  background-image: url(../Resources/Green5.png);
}

.green6 {
  background-image: url(../Resources/Green6.png);
}

.green7 {
  background-image: url(../Resources/Green7.png);
}

.green8 {
  background-image: url(../Resources/Green8.png);
}

.green9 {
  background-image: url(../Resources/Green9.png);
}

.green10 {
  background-image: url(../Resources/Green10Draw2.png);
}

.green11 {
  background-image: url(../Resources/Green11Skip.png);
}

.green12 {
  background-image: url(../Resources/Green12Reverse.png);
}

.green13 {
  background-image: url(../Resources/Green13Draw4.png);
}