@import "buttons.css";
@import "cards.css";
@import "modals.css";
@import "backgroundanimation.css";

/*--------------------------------------------------------------------------------*/
/*VARIABLES*/
/*--------------------------------------------------------------------------------*/
:root {
    --red: #ec524b;
    --orange: #f5b461;
    --yellow: #f3eac2;
    --turquoise: #9ad3bc;
    --darkturquoise: ##16697A;
    /*colorpalette: https://colorhunt.co/palette/220258 , https://colorhunt.co/palette/219688 */

    --cardheightStack: 17.7vw;
    --cardwidthStack: 11.5vw;

    --cardheightHand: 15vw;
    --cardwidthHand: 10vw;
}

/*--------------------------------------------------------------------------------*/
/*GLOBAL*/
/*--------------------------------------------------------------------------------*/

* { margin: 0; padding: 0; }

html { overflow-y: scroll; }

body {
    position: relative;
	color: #eee;
}

.gamefield {
    display:grid;
    grid-template-columns: 10vw 90vw;
    grid-auto-rows: minmax(50vw, auto);
    max-width: 100vw;
}

.allPlayers {
    display:grid;
    grid-template-columns: 25% 40% 25%;
    grid-column-gap: 1em;
    grid-auto-rows: minmax(50vw, auto);
}

.topposition {
    display: grid;
    place-items: center;
}

.bottomposition {
    display: grid;
    place-items: center;
}

.rotateAnti90dg {
    transform: rotate(-90deg);
    min-width: 500px;
    max-width: 70vh;
}

.rotate90dg {
    transform: rotate(90deg);
    min-width: 500px;
    max-width: 70vh;
}

.playerinfofield {
    display: grid;
    place-items: center;
}

/*--------------------------------------------------------------------------------*/
/*TYPO*/
/*--------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta:700');

body {
    font-family: 'Mukta', sans-serif;
    font-variant: small-caps;
    font-size: 1.3rem;
    color: white;
    
}

