/*--------------------------------------------------------------------------------*/
/*VARIABLES*/
/*--------------------------------------------------------------------------------*/
:root {
    --red: #ec524b;
    --orange: #f5b461;
    --yellow: #f3eac2;
    --turquoise: #9ad3bc;
    --darkturquoise: ##16697A;
    /*colorpalette: https://colorhunt.co/palette/220258 , https://colorhunt.co/palette/219688 */

    --cardheightStack: 17.7vw;
    --cardwidthStack: 11.5vw;

    --cardheightHand: 15vw;
    --cardwidthHand: 10vw;

  }

/*--------------------------------------------------------------------------------*/
/*MODALE*/
/*--------------------------------------------------------------------------------*/

/*Playername Input*/
.modal{
    color:black;
}
.infomessage {
    border-radius: 3%;
    border: var(--orange) 2px solid;
    background-color: var(--turquoise);
    width: 90%;
    height: 120%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#welcome {
    color: var(--darkturquoise);
    border-radius: 3%;

}

.modal-dialog{
    width: 300px;
    color:floralwhite;
}
.modal-box{
  font-family:'Comfortaa', cursive;
}

.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  

}

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}


.main-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .size {
    width: 8vw;
    height: 8vw;
    box-shadow: 2px 2px 3px black;
    margin: 2rem;
    cursor: pointer; /* Add a pointer on hover */
  }
  
  .red-circle {
    background-color: #c72a18;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .blue-circle {
    background-color: #0063b3;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .yellow-circle {
    background-color: #e6ca1e;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .green-circle {
    background-color: #18a849;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }

  /*Winner Modal*/

  #winnerModal {
    background-color:rgb(36, 35, 35);
    background-image: url(../Resources/confetti/confetti-20.gif);
    background-size: 100%;
  }
    .text-focus-in{-webkit-animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}

    @-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}

    
  
  /*Reverse Modal*/

    .tracking-in-contract-bck-top{-webkit-animation:tracking-in-contract-bck-top 1s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck-top 1s cubic-bezier(.215,.61,.355,1.000) both}

    @-webkit-keyframes tracking-in-contract-bck-top{0%{letter-spacing:1em;-webkit-transform:translateZ(400px) translateY(-300px);transform:translateZ(400px) translateY(-300px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}@keyframes tracking-in-contract-bck-top{0%{letter-spacing:1em;-webkit-transform:translateZ(400px) translateY(-300px);transform:translateZ(400px) translateY(-300px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}

  b{
   -webkit-text-stroke: 1px white; /* width and color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(255, 72, 0);
    letter-spacing: 5px;
  }
  
  .text{
    color:white;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

 

  

  