/*--------------------------------------------------------------------------------*/
/*VARIABLES*/
/*--------------------------------------------------------------------------------*/
:root {
    --red: #ec524b;
    --orange: #f5b461;
    --yellow: #f3eac2;
    --turquoise: #9ad3bc;
    --darkturquoise: ##16697A;
    /*colorpalette: https://colorhunt.co/palette/220258 , https://colorhunt.co/palette/219688 */

    --cardheightStack: 17.7vw;
    --cardwidthStack: 11.5vw;

    --cardheightHand: 15vw;
    --cardwidthHand: 10vw;

  }

/*--------------------------------------------------------------------------------*/
/*MODALE*/
/*--------------------------------------------------------------------------------*/

/*Playername Input*/
.modal{
    color:black;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.infomessage {
    border-radius: 3%;
    border: var(--orange) 2px solid;
    background-color: var(--turquoise);
    width: 90%;
    height: 120%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#welcome {
    color: var(--darkturquoise);
    border-radius: 3%;

}

.modal-dialog{
    width: 300px;
}


.main-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .size {
    width: 5vw;
    height: 5vw;
    box-shadow: 2px 2px 3px black;
    margin: 2rem;
    cursor: pointer; /* Add a pointer on hover */
  }
  
  .red-circle {
    background-color: #c72a18;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .blue-circle {
    background-color: #0063b3;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .yellow-circle {
    background-color: #e6ca1e;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .green-circle {
    background-color: #18a849;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
