/*--------------------------------------------------------------------------------*/
/*VARIABLES*/
/*--------------------------------------------------------------------------------*/
:root {
    --red: #ec524b;
    --orange: #f5b461;
    --yellow: #f3eac2;
    --turquoise: #9ad3bc;
    --darkturquoise: ##16697A;
    /*colorpalette: https://colorhunt.co/palette/220258 , https://colorhunt.co/palette/219688 */

    --cardheightStack: 17.7vw;
    --cardwidthStack: 11.5vw;

    --cardheightHand: 15vw;
    --cardwidthHand: 10vw;

  }

/*--------------------------------------------------------------------------------*/
/*GLOBAL*/
/*--------------------------------------------------------------------------------*/

.gamefield {
  min-height: 100vh;
}

/*--------------------------------------------------------------------------------*/
/*TYPO*/
/*--------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta:700');

body {
    font-family: 'Mukta', sans-serif;
    color: white;
    
}

/*--------------------------------------------------------------------------------*/
/*BACKGROUND-IMAGE*/
/*--------------------------------------------------------------------------------*/

/* .bg-image::after {  /*The after-element is used to adjust the opacity of the bg-image without affecting the other layers*/
  /* content: "";
  background: url("../Resources/Background/wood3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  background-size: cover; 
}  */

/*--------------------------------------------------------------------------------*/
/*CARD PLAYING FIELD*/
/*--------------------------------------------------------------------------------*/

.cardplayingfield {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2vw;
}


/*--------------------------------------------------------------------------------*/
/*CARD STACKS*/
/*--------------------------------------------------------------------------------*/

.topcard {
    background-repeat: no-repeat;
    height: var(--cardheightStack);
    width: var(--cardwidthStack);
    background-position: center;
    background-size: contain;
}

.cardstack {
  height: var(--cardheightStack);
  width: var(--cardwidthStack);
  background-image: url("../Resources/backside.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(25deg);
}

/*--------------------------------------------------------------------------------*/
/*CARD IMAGES*/
/*--------------------------------------------------------------------------------*/

.cardshadow {  /* this is the of the cards*/
  border-radius: 1.1vw;
  box-shadow: 0 0 10px #7a7a7a;
}

.backside {
    background-image: url(../Resources/backside.png);
}
.black13 {
    background-image: url(../Resources/Black13Draw4.png);
}

.black14 {
    background-image: url(../Resources/Black14ChangeColor.png);
}

.blue0 {
    background-image: url(../Resources/Blue0.png);
}

.blue1 {
    background-image: url(../Resources/Blue1.png);
}

.blue2 {
    background-image: url(../Resources/Blue2.png);
}

.blue3 {
    background-image: url(../Resources/Blue3.png);
}

.blue4 {
    background-image: url(../Resources/Blue4.png);
}

.blue5 {
    background-image: url(../Resources/Blue5.png);
}

.blue6 {
    background-image: url(../Resources/Blue6.png);
}

.blue7 {
    background-image: url(../Resources/Blue7.png);
}

.blue8 {
    background-image: url(../Resources/Blue8.png);
}

.blue9 {
    background-image: url(../Resources/Blue9.png);
}

.blue10 {
    background-image: url(../Resources/Blue10Draw2.png);
}

.blue11 {
    background-image: url(../Resources/Blue11Skip.png);
}

.blue12 {
    background-image: url(../Resources/Blue12Reverse.png);
}

.blue13 {
    background-image: url(../Resources/Blue13Draw4.png);
}

.red0 {
    background-image: url(../Resources/Red0.png);
}

.red1 {
    background-image: url(../Resources/Red1.png);
}

.red2 {
    background-image: url(../Resources/Red2.png);
}

.red3 {
    background-image: url(../Resources/Red3.png);
}

.red4 {
    background-image: url(../Resources/Red4.png);
}

.red5 {
    background-image: url(../Resources/Red5.png);
}

.red6 {
    background-image: url(../Resources/Red6.png);
}

.red7 {
    background-image: url(../Resources/Red7.png);
}

.red8 {
    background-image: url(../Resources/Red8.png);
}

.red9 {
    background-image: url(../Resources/Red9.png);
}

.red10 {
    background-image: url(../Resources/Red10Draw2.png);
}

.red11 {
    background-image: url(../Resources/Red11Skip.png);
}
.red12 {
    background-image: url(../Resources/Red12Reverse.png);
}

.red13 {
    background-image: url(../Resources/Red13Draw4.png);
}

.yellow0 {
    background-image: url(../Resources/Yellow0.png);
}

.yellow1 {
    background-image: url(../Resources/Yellow1.png);
}

.yellow2 {
    background-image: url(../Resources/Yellow2.png);
}

.yellow3 {
    background-image: url(../Resources/Yellow3.png);
}

.yellow4 {
    background-image: url(../Resources/Yellow4.png);
}

.yellow5 {
    background-image: url(../Resources/Yellow5.png);
}

.yellow6 {
    background-image: url(../Resources/Yellow6.png);
}

.yellow7 {
    background-image: url(../Resources/Yellow7.png);
}

.yellow8 {
    background-image: url(../Resources/Yellow8.png);
}

.yellow9 {
    background-image: url(../Resources/Yellow9.png);
}

.yellow10 {
    background-image: url(../Resources/Yellow10Draw2.png);
}

.yellow11 {
    background-image: url(../Resources/Yellow11Skip.png);
}
.yellow12 {
    background-image: url(../Resources/Yellow12Reverse.png);
}

.yellow13 {
    background-image: url(../Resources/Yellow13Draw4.png);
}

.green0 {
    background-image: url(../Resources/Green0.png);
}

.green1 {
    background-image: url(../Resources/Green1.png);
}

.green2 {
    background-image: url(../Resources/Green2.png);
}

.green3 {
    background-image: url(../Resources/Green3.png);
}

.green4 {
    background-image: url(../Resources/Green4.png);
}

.green5 {
    background-image: url(../Resources/Green5.png);
}

.green6 {
    background-image: url(../Resources/Green6.png);
}

.green7 {
    background-image: url(../Resources/Green7.png);
}

.green8 {
    background-image: url(../Resources/Green8.png);
}

.green9 {
    background-image: url(../Resources/Green9.png);
}

.green10 {
    background-image: url(../Resources/Green10Draw2.png);
}

.green11 {
    background-image: url(../Resources/Green11Skip.png);
}

.green12 {
    background-image: url(../Resources/Green12Reverse.png);
}

.green13 {
    background-image: url(../Resources/Green13Draw4.png);
}

/*--------------------------------------------------------------------------------*/
/*MODALE*/
/*--------------------------------------------------------------------------------*/

/*Playername Input*/
.infomessage {
    border-radius: 3%;
    border: var(--orange) 2px solid;
    background-color: var(--turquoise);
    width: 90%;
    height: 120%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#welcome {
    color: var(--darkturquoise);
    border-radius: 3%;

}

/*--------------------------------------------------------------------------------*/
/*PLAYER HAND*/
/*--------------------------------------------------------------------------------*/

li {
  height: var(--cardheightHand);
  width: var(--cardwidthHand);
  background-size: contain;
  background-repeat: no-repeat;
  list-style: none;
}

ul {
  padding-left: 0;
}

/*--------------------------------------------------------------------------------*/
/*PLAYER GAMEFIELD*/
/*--------------------------------------------------------------------------------*/

.playerinfofield {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2vw;
  height: 20vh;
}

/*Styling for the current player*/
.activePlayer{
  background: #a6adaa;
  border-radius: 2vw;
  height: 20vh;
}

/*--------------------------------------------------------------------------------*/
/*BUTTON*/
/*--------------------------------------------------------------------------------*/

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

/* button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
} */

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/*--------------------------------------------------------------------------------*/
/*STAR-BACKGROUND*/
/*--------------------------------------------------------------------------------*/

@keyframes STAR-MOVE {
	from {
		left: 0;
		top: 0;
	}
	to { 
		left: -10000px;
		top: -2000px;
	}
}

#background {
	background: black url(../Resources/Background/background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	
	animation-name: STAR-MOVE;
	animation-duration: 200s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#midground {
	background: url(../Resources/Background/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
	
	animation-name: STAR-MOVE;
	animation-duration: 150s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#foreground {
	background: url(../Resources/Background/foreground.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;
	
	animation-name: STAR-MOVE;
	animation-duration: 100s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#page-wrap {
	margin: 0 auto;
	position: relative;
	z-index: 400;
	background: rgba(0,0,0,0.7);
	overflow: hidden;
	padding: 30px 50px;
}


